body {
  padding: 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
	margin-left: 3rem;
}

#map{
	margin-top: 2rem;
	display: inline-block;
	margin-bottom: 3rem; 
	margin-left: 3rem;
	width: 40%;
	height: 30rem;
	float: left;
}
#content{
	margin-left: auto;
	margin-right: auto;
}
div#alerts{
	margin-right: 3rem;
	margin-top: 2rem;
	float: right;
	width: 40%;
	border-style: solid;
    border-color: red;
}

.message{
	padding:1%;
	border-bottom: black;
	border-style: solid;

}
