doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdEePW1W5Fj_azNsKh2A3FfkMpijUFva0&sensor=true')
    script(type='text/javascript', src='/javascripts/jquery-1.11.2.min.js')
    script(type='text/javascript', src='/javascripts/gmaps.js')
  body
    block content